<div class="container" nv-file-drop uploader="uploader">
    <div class="col-md-12">
        <div class="col-md-4">
            <div ng-show="uploader.isHTML5" class="well my-drop-zone" nv-file-over uploader="uploader">
                Drop sources here
            </div>
            <input type="file" nv-file-select uploader="uploader"/>
        </div>
        {{version | json}}
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Version</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{item.file.name}}</strong></td>
                        <td><input type="text" class="form-control" ng-model="version" ng-change="updateVersion(item, version)" /></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><em class="glyphicon glyphicon-ok"></em></span>
                            <span ng-show="item.isCancel"><em class="glyphicon glyphicon-ban-circle"></em></span>
                            <span ng-show="item.isError"><em class="glyphicon glyphicon-remove"></em></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
            <a class="btn btn-default btn-s" ng-href="#/app/{{appId}}">
                <span class="glyphicon glyphicon-arrow-left"></span> Back to App
            </a>
        </div>
    </div>
</div>
