<div ng-controller="commentCtrl">
<div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
    <div>
        <div class="modal-dialog">
            
                <div class="modal-header">
                    <h1>Please write your comment about {{selectedApp.name}} (max 255 characters):</h1>
                </div>
                <div class="modal-body">
                    <form id="formComment" onsubmit="submitForm()">
                        <div class="form-group">
                                <label>Comentario: </label>
                                <input class="form-control" ng-model="model.comment" ng-maxlength=255 type="text" name="comment" id="comment">
                                <br />
                                <button type="submit" id="commentsubmit" data-loading-text="Saving..." class="btn btn-primary pull-right" >Post</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
</div>